<div id="map">
    <div id="mapContent">
        <input id="button-1" type="radio" name="radio-set" class="sp-selector-1" checked="checked" />
        <label for="button-1" class="label-1"></label>

        <input id="button-2" type="radio" name="radio-set" class="sp-selector-2" />
        <label for="button-2" class="label-2"></label>

        <label for="button-1" class="arrow arrow1"></label>
        <label for="button-2" class="arrow arrow2"></label>

        <div id="mapSlide">
            <ul>
                <li>
                    <img src="entrepot/map1.png" alt="carte westeros"/> 
                </li>

                <li>
                    <img src="entrepot/map1.png" alt="carte westeros"/> 
                </li>
            </ul>
        </div>
    </div>

</div>