<div id="map">
    <div id="mapContent">
        <input id="button-1" type="radio" name="radio-set" class="sp-selector-1" checked="checked" />
        <input id="button-2" type="radio" name="radio-set" class="sp-selector-2" />
        <label for="button-1" class="arrow" id="arrowLeft">Vers Westeros</label>
        <label for="button-2" class="arrow" id="arrowRight">Vers Essos</label>
        
        <div id="mapSlide">
            <ul>
                <li>
                    <img src="entrepot/map.png" usemap="#mapWesteros" alt="carte westeros"/> 
                    <map name="mapWesteros">
                        <area shape="circle" href="#" coords="529,47,5" title="Châteaunoir"   />
                        <area shape="circle" coords="484,146,5" href="#" title="Winterfell"   />
                        <area shape="circle" coords="472,281,6" href="#" title="Les Jumeaux"   />
                        <area shape="circle" coords="559,308,6" href="#" title="Les Eyrié"  />
                        <area shape="circle" coords="546,397,6" href="#" title="Port-Réal"  />
                    </map>
                </li>

                <li>
                    <img src="entrepot/map2.png" usemap="#mapEssos" alt="carte Essos"/> 
                    <map name="mapEssos">
                        <area shape="circle" href="#" coords="208,274,6" title="Pentos"   />
                        <area shape="circle" href="#" coords="794,490,7" title="Qarth" />
                    </map>
                </li>
            </ul>
        </div>    
    </div>
    <a id="linkSource" target="_blank" href="http://www.wherehaveallthewildlingsgone.com/images/2/map.png">source : wherehaveallthewildlingsgone.com</a>
    <div class="clearer">&nbsp;</div>
</div>
